a:link, a:visited {
    background-color: peru;
    color: green;
    padding: 10px 10px;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
}
a:hover, a:active {
    color: blueviolet;
    background-color: lightpink;
}
